{% load static %}
<html>
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'shortUrls/style.css' %}" />

    <title>New Link</title>
</head>
<body>
	<div class="newLinkForm">
		{% if redirect_url %}
			<div>
				<p> Click: </p>
					<a href="{{redirect_url}}" class="redirect-url"> {{ redirect_url }} </a>
				<p> for a redirect </p>
			</div>
		{% endif %}
	</div>
</body>
</html>