{% load static %}
<html>
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'shortUrls/style.css' %}" />

    <title>New Link</title>
</head>
<body>
	<div class="newLinkForm">
		<a href="{% url 'newLink' %}"></a>
		{% if warning_message or phishUrl %}
			<p><strong> ERROR {{phishUrl}} {{warning_message}}</p>
		{% endif %}
		{% block content %}
		    <h1>New ShortUrl</h1>
		    <form method="POST" class="shortUrl-form">{% csrf_token %}
		        {{ form.as_p }}
		        <button type="submit" class="save btn btn-default">Save</button>
		    </form>
		{% endblock %}
	</div>
</body>
</html>